<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolist! Do or not?</title>
</head>
<body>
    <div id="root">
        <div class="container">
                 <div class="title">
                     <h1>To<span>do</span> List!</h1>
                     <h2>Whatcha gonna do when they come for you?</h2>
                 </div>
            <div class="forms">
                <input @click="value0" v-on:keyup.enter="addTask" type="text" value="add your task" name="" id="newTask" v-model="newTask.task">
                <button @click="addTask" class="btn-add">Add Task</button>
            </div>     
            
            <div class="task-container">
                <ol>
                    <li v-for="(item, index) in arrTask" :class="item.done == true ? 'done ' + item.type : item.type" @click="item.done = !item.done"><span>{{ item.task }}</span> <button class="btn-remove" @click="arrTask.splice(index, 1)">X</button></li>
                </ol>
            </div>





        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/script.js"></script>
</body>
</html>